.header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  box-shadow: 5px 5px 10px 0px #737373;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.header-container {
  width: 100%;
  display: flex;
  max-width: 1250px;
  align-items: center;
  justify-content: space-between;
}
.header-navlink {
  display: contents;
}
.header-image {
  width: 214px;
  height: 65px;
  text-decoration: none;
}
.header-nav {
  display: flex;
}
.header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header-navlink1 {
  text-decoration: none;
}
.header-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.header-login {
  color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #d94a7d;
}
.header-register {
  font-style: normal;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: #ede114;
}
.header-burger-menu {
  display: none;
}
.header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.header-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.header-image1 {
  height: 2rem;
}
.header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}




@media(max-width: 767px) {
  .header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .header-nav {
    display: none;
  }
  .header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .header-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .header-btn-group {
    display: none;
  }
  .header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .header-header {
    padding: var(--dl-space-space-unit);
  }
  .header-image {
    align-self: center;
  }
  .header-mobile-menu {
    display: none;
    padding: 16px;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.footer-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.footer-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 74, 125) 0.00%,rgb(97, 182, 82) 51.00%,rgb(237, 225, 20) 100.00%);
}









@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.login-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0.00%,rgba(0, 0, 0, 0.7) 100.00%),url('https://i.ibb.co/Y0xhFNM/bgback.jpg');
}
.login-page-container1 {
  display: flex;
  align-self: center;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.79);
}
.login-page-form {
  gap: 12px;
  width: auto;
  height: auto;
  margin: var(--dl-space-space-twounits);
  display: flex;
  align-self: center;
  align-items: center;
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
}
.login-page-image {
  width: 200px;
  height: 150px;
  align-self: center;
  object-fit: cover;
}
.login-page-text {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.login-page-textinput {
  padding: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
}
.login-page-text3 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: normal;
  font-weight: 500;
}
.login-page-textinput1 {
  padding: var(--dl-space-space-unit);
  padding-left: 16px;
  border-radius: var(--dl-radius-radius-radius8);
}
.login-page-text6 {
  color: rgb(255, 255, 255);
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  font-weight: 500;
}
.login-page-navlink {
  color: var(--dl-color-primary-douche-pink);
  text-decoration: underline;
}
.login-page-button {
  width: 100%;
  padding: var(--dl-space-space-unit);
  margin-top: var(--dl-space-space-unit);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  background-color: var(--dl-color-primary-douche-yellow);
}
