.user-header-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: auto;
  box-shadow: 5px 5px 10px 0px #737373;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.user-header-container {
  width: 100%;
  display: flex;
  max-width: 1250px;
  align-items: center;
  justify-content: space-between;
}
.user-header-navlink {
  display: contents;
}
.user-header-image {
  width: 214px;
  height: 65px;
  text-decoration: none;
}
.user-header-nav {
  display: flex;
}
.user-header-nav1 {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.user-header-navlink1 {
  text-decoration: none;
}
.user-header-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.user-header-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.user-header-navlink4 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.user-header-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.user-header-login {
  color: var(--dl-color-gray-white);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
  background-color: #d94a7d;
}
.user-header-register {
  font-style: normal;
  font-weight: 600;
  border-width: 0px;
  text-decoration: none;
  background-color: #ede114;
}
.user-header-burger-menu {
  display: none;
}
.user-header-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.user-header-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.user-header-nav2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-header-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.user-header-image1 {
  height: 2rem;
}
.user-header-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-header-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.user-header-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.user-header-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.user-header-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}

@media(max-width: 767px) {
  .user-header-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .user-header-nav {
    display: none;
  }
  .user-header-nav1 {
    align-items: flex-start;
    flex-direction: column;
  }
  .user-header-navlink1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-header-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-header-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-header-navlink4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .user-header-btn-group {
    display: none;
  }
  .user-header-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .user-header-header {
    padding: var(--dl-space-space-unit);
  }
  .user-header-image {
    align-self: center;
  }
  .user-header-mobile-menu {
    display: none;
    padding: 16px;
  }
}

.visit-us-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8) 0.00%,rgba(0, 0, 0, 0.8) 98.00%),url('https://i.ibb.co/CHZFpKn/bgpage.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
.visit-us-text {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  text-align: center;
}
.visit-us-text1 {
  color: rgb(255, 255, 255);
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  line-height: 2;
  margin-bottom: var(--dl-space-space-twounits);
}
.visit-us-link {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-primary-douche-yellow);
}
.visit-us-link:hover {
  transform: scale(1.02);
}



@media(max-width: 991px) {
  .visit-us-text1 {
    max-width: 100%;
  }
}
@media(max-width: 767px) {
  .visit-us-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .visit-us-text1 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .visit-us-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 100%;
  align-self: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
  background-image: linear-gradient(90deg, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.footer-text {
  color: var(--dl-color-gray-white);
  text-align: center;
}
.footer-root-class-name {
  background-image: linear-gradient(90deg, rgb(217, 74, 125) 0.00%,rgb(97, 182, 82) 51.00%,rgb(237, 225, 20) 100.00%);
}









@media(max-width: 767px) {
  .footer-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .footer-text {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .footer-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .footer-text {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
}

.stylists-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.stylists-page-features {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  flex-direction: column;
}
.stylists-page-text {
  font-size: 3rem;
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-container1 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stylists-page-stylists {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stylists-page-container2 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stylists-page-image {
  width: 200px;
  object-fit: cover;
}
.stylists-page-text03 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-text04 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.stylists-page-stylists1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stylists-page-container3 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stylists-page-image1 {
  width: 200px;
  object-fit: cover;
}
.stylists-page-text05 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-text06 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.stylists-page-stylists2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stylists-page-container4 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stylists-page-image2 {
  width: 200px;
  object-fit: cover;
}
.stylists-page-text07 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-text08 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.stylists-page-stylists3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stylists-page-container5 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stylists-page-image3 {
  width: 200px;
  object-fit: cover;
}
.stylists-page-text09 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-text10 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.stylists-page-container6 {
  width: auto;
  display: grid;
  grid-gap: var(--dl-space-space-twounits);
  margin-top: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.stylists-page-stylists4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: center;
  flex-direction: column;
}
.stylists-page-container7 {
  flex: 0 0 auto;
  width: auto;
  height: Small;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.stylists-page-image4 {
  width: 200px;
  object-fit: cover;
}
.stylists-page-text11 {
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-weight: 800;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.stylists-page-text12 {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .stylists-page-text {
    text-align: center;
  }
  .stylists-page-container1 {
    grid-template-columns: 1fr 1fr;
  }
  .stylists-page-container6 {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 767px) {
  .stylists-page-features {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .stylists-page-text {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .stylists-page-features {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .stylists-page-container1 {
    grid-template-columns: 1fr;
  }
  .stylists-page-container6 {
    grid-template-columns: 1fr;
  }
}
